<a href="https://colab.research.google.com/github/IBM-EPBL/IBM-Project-27292-1660053205/blob/main/Copy_of_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Basic Python

### 1 . Split the string

In [2]:
s = "Hi there Sam!"
print(s.split(' '))

['Hi', 'there', 'Sam!']

### 2. Use .format() to print the following string.

Output should be: The diameter of Earth is 12742 kilometers.

In [3]:
planet = "Earth"
diameter = 12742
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

### 3. In this nest dictionary grab the word "hello"

In [4]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

# Numpy

In [5]:
import numpy as np

### 4.1 Create an array of 10 zeros?

In [8]:
a=np.zeros(10)
print(a)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

### 4.2 Create an array of 10 fives?

In [9]:
a=np.ones(10)*5
print(a)

[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

### 5. Create an array of all the even integers from 20 to 35

In [10]:
a=np.arange(20,35,2)
print(a)

[20 22 24 26 28 30 32 34]

### 6. Create a 3x3 matrix with values ranging from 0 to 8

In [11]:
a=np.arange(9).reshape(3,3)
print(a)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

### 7. Concatenate a and b

In [12]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
print(np.concatenate((a,b),axis=0))

[1 2 3 4 5 6]

# Pandas

In [13]:
import pandas as pd

### 8. Create a dataframe with 3 rows and 2 columns

In [14]:
Name = ['Siva', 'Mohan', 'Reddy']
Age = [25, 30, 26]
list_of_tuples = list(zip(Name, Age))
df = pd.DataFrame(list_of_tuples,columns=['Name', 'Age'])
print(df)

    Name  Age
0   Siva   25
1  Mohan   30
2  Reddy   26

### 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [16]:
a=pd.Series(pd.date_range(start ='1-1-2023',end ='2-10-2023'))   
print(a)

0    2023-01-01
1    2023-01-02
2    2023-01-03
3    2023-01-04
4    2023-01-05
5    2023-01-06
6    2023-01-07
7    2023-01-08
8    2023-01-09
9    2023-01-10
10   2023-01-11
11   2023-01-12
12   2023-01-13
13   2023-01-14
14   2023-01-15
15   2023-01-16
16   2023-01-17
17   2023-01-18
18   2023-01-19
19   2023-01-20
20   2023-01-21
21   2023-01-22
22   2023-01-23
23   2023-01-24
24   2023-01-25
25   2023-01-26
26   2023-01-27
27   2023-01-28
28   2023-01-29
29   2023-01-30
30   2023-01-31
31   2023-02-01
32   2023-02-02
33   2023-02-03
34   2023-02-04
35   2023-02-05
36   2023-02-06
37   2023-02-07
38   2023-02-08
39   2023-02-09
40   2023-02-10
dtype: datetime64[ns]

### 10. Create 2D list to DataFrame

In [17]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]
df = pd.DataFrame(lists, columns =['Index','Name', 'number'])
print(df)

   Index Name  number
0      1  aaa      22
1      2  bbb      25
2      3  ccc      24