In [24]:
import pandas as pd
import numpy as np

# Reading data set

In [25]:
datas=pd.read_csv(r"D:\3.car performance.csv")
datas

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

# finding null values

In [26]:
datas.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

# label encoding and one hot coding

In [27]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()
datas['car name']=labelencoder.fit_transform(datas['car name'])

# spilliting the data set into dependend and independend values

In [28]:
X=datas.iloc[:,1:8].values
Y=datas.iloc[:,0].values

# splittind dataset into testset and trainset

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test , Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

# Normalizing

In [30]:
from sklearn.preprocessing import StandardScaler
sc1=StandardScaler()
X_train=sc1.fit_transform(X_train)
X_test=sc1.transform(X_test)

# Build The Model With The Random Forest Regressor

In [31]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor(n_estimators=40,random_state=0)
model.fit(X_train,Y_train)
model.score(X_test,Y_test)

0.8516881383449694

In [32]:
# predicting the values

In [33]:
Y_pred=model.predict(X_test)
Y_pred

array([23.3025, 21.9   , 14.71  , 20.04  , 21.2925, 20.04  , 21.59  ,
       29.35  , 13.95  , 15.9675, 13.8175, 17.5925, 25.65  , 15.61  ,
       17.4975, 38.0175, 14.955 , 18.32  , 26.055 , 36.2025, 22.205 ,
       14.6   , 36.815 , 17.1925, 32.355 , 28.6225, 20.7275, 32.955 ,
       27.225 , 35.2775, 13.85  , 12.2   , 26.9125, 28.65  , 36.615 ,
       13.8625, 18.345 , 21.9025, 26.3375, 15.9   , 22.62  , 19.125 ,
       26.775 , 35.23  , 31.3475, 19.6075, 26.775 , 30.7975, 16.825 ,
       13.8875, 30.4775, 16.8175, 13.975 , 34.8375, 18.7025, 21.8775,
       16.9675, 18.1625, 32.315 , 40.6175, 16.085 , 25.65  , 15.9625,
       14.1   , 20.82  , 14.345 , 14.2125, 24.455 , 26.485 , 32.1125,
       26.275 , 19.    , 31.52  , 14.25  , 24.3925, 25.47  , 19.905 ,
       25.095 , 18.3575, 15.25  ])

# Modelevaluation

In [34]:
from sklearn.metrics import r2_score
accuracy=r2_score(Y_test,Y_pred)
accuracy

0.8516881383449694

# Saving the model

In [35]:
#import pickle
#pickle.dump(datas,open('regression.pkl','wb'))