In [29]:
import pandas as pd
import numpy as np

# Reading data set

In [4]:
datas=pd.read_csv(r"D:\3.car performance.csv")
datas

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

# finding null values

In [56]:
datas.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

# label encoding and one hot coding

In [57]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()
datas['car name']=labelencoder.fit_transform(datas['car name'])

# spilliting the data set into dependend and independend values

In [58]:
X=datas.iloc[:,1:8].values
Y=datas.iloc[:,0].values

# splittind dataset into testset and trainset

In [59]:
from sklearn.model_selection import train_test_split
X_train, X_test , Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

# Normalizing

In [60]:
from sklearn.preprocessing import StandardScaler
sc1=StandardScaler()
X_train=sc1.fit_transform(X_train)
X_test=sc1.transform(X_test)

# Build The Model With The Random Forest Regressor

In [67]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor(n_estimators=40,random_state=0)
model.fit(X_train,Y_train)
model.score(X_test,Y_test)

0.884539579411741

# Modelevaluation

In [66]:
from sklearn.metrics import r2_score
accuracy=r2_score(Y_test,Y_pred)
accuracy

0.884539579411741

# Predict The Values

In [65]:
Y_pred=model.predict(X_test)
Y_pred

array([13.1   , 27.9225, 13.975 , 23.575 , 21.9775, 28.8975, 27.2625,
       31.3225, 23.905 , 12.55  , 31.555 , 26.0875, 13.225 , 22.4375,
       16.68  , 27.85  , 34.5975, 33.8125, 24.3175, 13.6   , 27.9225,
       28.075 , 20.9   , 30.175 , 23.75  , 14.8   , 30.5875, 19.5075,
       19.4775, 18.175 , 23.255 , 28.705 , 26.325 , 30.91  , 31.16  ,
       12.95  , 23.835 , 19.865 , 24.765 , 33.87  , 21.025 , 32.585 ,
       12.5   , 12.675 , 26.1825, 14.7   , 20.33  , 32.1925, 27.55  ,
       20.9575, 15.395 , 27.9125, 31.9   , 30.645 , 14.9325, 18.025 ,
       31.665 , 31.345 , 31.015 , 33.045 , 36.6625, 14.5   , 19.41  ,
       21.24  , 19.6925, 12.9   , 38.7475, 22.815 , 25.28  , 14.65  ,
       15.19  , 15.3875, 11.4875, 21.13  , 14.65  , 18.31  , 24.4875,
       18.975 , 32.11  , 16.775 ])

# Saving the model

In [25]:
import pickle
pickle.dump(datas,open('regression.pkl','wb'))